html {
  --footerh: 2rem;    /* el que haga falta para el pie */
  min-height: 100%;
  position: relative;
}

footer {
  bottom: 0;
  height: var(--footerh);
  position: absolute;
  width: 100%;
  line-height: var(--footerh);
}

main {
  margin-bottom: calc(60px + var(--footerh));
}

.tasa {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.w-800 {
  max-width: 800px;
}

:required {
  border: solid 1px #555;
}

.input-group-text {
  width: 3rem;
  text-align: center;
}

.t1 {
  color: #424242;
  line-height: 2.5;
  font-weight: bolder;
  font-size: 1.1rem
}

@media screen and (max-width:600px) {
  table thead {
    display: none;
  }

  table td {
    display: flex;
  }

  table td::before {
    content: attr(label);
    font-weight: bold;
  }

}

option {
  text-align: center;
}

.flotante {
  display: scroll;
  position: fixed;
  bottom: calc(10px + var(--footerh));
  right: 2px;
}
